@import '_variables.scss';

.main-header {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
  padding: 15px;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__left {
    a {
      color: $primary-dark;
      font-size: 2rem;
      text-decoration: none;
      transition: all 0.3s ease;
      user-select: none;
    }
  }
}
