@import '_variables.scss';

.todo {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  background-color: $primary-medium;
  padding: 10px;
  border-radius: 5px;

  &--complete {
    input[type='text'] {
      text-decoration: line-through;
    }
  }

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  input[type='text'] {
    background-color: transparent;
    margin-left: 10px;
    border: none;
    font-size: 1.125rem;
    color: $light;
    flex-grow: 1;

    &:focus {
      outline: none;
    }
  }

  &__controls {
    display: flex;

    button {
      display: block;
      padding: 0;
      background-color: transparent;
      border: none;
      color: $light;
      font-size: 1rem;
      transition: all 0.3s ease;

      &:not(:last-child) {
        margin-right: 10px;
      }

      &:hover {
        cursor: pointer;
        color: $primary-dark;
      }
    }
  }

  input[type='checkbox'] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    font: inherit;
    color: $light;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid $light;
    border-radius: 0.15em;
    display: grid;
    place-content: center;

    &:hover {
      cursor: pointer;
    }
  }

  input[type='checkbox']::before {
    content: '';
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em $light;
    background-color: CanvasText;
  }

  input[type='checkbox']:checked::before {
    transform: scale(1);
  }
}
